/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-lwhhdbd  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.lwhh-figure {
  margin: 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;

  .entry .entry-content > &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.lwhh-figure__image {
  display: block;
}
